.title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .avatar {
        object-fit: contain;
        height: 125px;
    }
}
.card-detail-user {
    .detail-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f4f4f3;
        margin-bottom: 24px;

        h4 {
            font-weight: 500;
        }
    }
}