<div class="default-content-wrapper">
    <mat-card class="default-title-section">
        <mat-card-header class="title-wrapper">
            <img class="avatar" src="{{ avatar }}" alt="avatar">
            <h1>{{ data.firstName }} {{ data.lastName }}</h1>
        </mat-card-header>
    </mat-card>

    <mat-card class="card-detail-user">
        <mat-card-content>
            <div class="detail-wrapper">
                <h4>Username</h4>
                <p>{{ data.id }}</p>
            </div>

            <div class="detail-wrapper">
                <h4>Gender</h4>
                <p>{{ data.gender }}</p>
            </div>

            <div class="detail-wrapper">
                <h4>Status</h4>
                <p>{{ data.status }}</p>
            </div>

            <div class="detail-wrapper">
                <h4>Group</h4>
                <p>{{ data.group }}</p>
            </div>

            <div class="detail-wrapper">
                <h4>Birth Date</h4>
                <p>{{ data.birthDate | date: "dd MMMM yyyy" }}</p>
            </div>

            <div class="detail-wrapper">
                <h4>Salary</h4>
                <p>{{ data.salary | currency: "Rp " }}</p>
            </div>

            <div class="detail-wrapper">
                <h4>Description</h4>
                <p>{{ data.description }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>