<div class="not-found-wrapper">
    <div class="content">
        <h1>404</h1>
        <p>We're sorry but it looks like that page doesn't exist anymore.</p>
        <a routerLink="/login" mat-raised-button color="primary">Back to Login</a>
    </div>
</div>