.not-found-wrapper {
    height: 100vh;
    background-color: white;

    .content {
        text-align: center;
        padding: 16px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            margin: -10px 0 -30px;
            font-size: 200px;
            opacity: 0.5;
            letter-spacing: 6px;
        }

        p {
            opacity: 0.8;
            font-size: 20px;
            margin: 8px 0 85px 0;
            font-weight: bold;
        }
    }
}