<div class="default-content-wrapper">
    <mat-card class="default-title-section">
        <mat-card-content class="d-flex justify-between">
            <app-title-section title="Employee List" (clickFunction)="testClickFunction()"></app-title-section>
            <a mat-raised-button color="primary" routerLink="/employee/add">Add User</a>
        </mat-card-content>
    </mat-card>

    <mat-card class="default-title-section">
        <mat-card-content>
            <form class="default-form" [formGroup]="searchEmployeeForm" (ngSubmit)="searchEmployee()">
                <mat-form-field class="full-width">
                    <mat-label>Search Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Search First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Search Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>

                <div class="default-button-wrapper type-end">
                    <button mat-raised-button color="primary" [disabled]="!searchEmployeeForm.valid">Search</button>
                    <a mat-raised-button color="accent" (click)="resetInput()">Clear</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="mat-card-content-table">
            <table mat-table matSort [dataSource]="dataSource" class="mat-table">
                <ng-container matColumnDef="username">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Username</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>First Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Name</th>
                    <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Gender</th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="birthDate">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Birth Date</th>
                    <td mat-cell *matCellDef="let element"> {{ element.birthDate | date: "dd MMMM yyyy" }} </td>
                </ng-container>

                <ng-container matColumnDef="group">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Group</th>
                    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="default-button-wrapper">
                            <a mat-icon-button color="primary" routerLink="/employee/{{element.id}}">
                                <mat-icon>visibility</mat-icon>
                            </a>
                            <button mat-icon-button color="accent" (click)="updateEmployee(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteEmployee(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>