<div class="default-content-wrapper type-update">
    <h1>UPDATE EMPLOYEE</h1>
    <mat-card>
        <mat-card-content>
            <form class="default-form" [formGroup]="editEmployeeForm" (ngSubmit)="proceedUpdateEmployee()">
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="editEmployeeForm.get('firstName')?.hasError('required')">
                        First Name is required.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="editEmployeeForm.get('lastName')?.hasError('required')">
                        Last Name is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" [max]="maxDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="editEmployeeForm.get('birthDate')?.hasError('required')">
                        Birth Date is required.
                    </mat-error>
                </mat-form-field>

                <div class="mat-form-field">
                    <mat-radio-group aria-label="Choose Group" formControlName="gender">
                        <mat-label>Gender</mat-label>
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="editEmployeeForm.get('gender')?.hasError('required')">
                        Gender is required.
                    </mat-error>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="editEmployeeForm.get('description')?.hasError('required')">
                        Description is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="id">
                    <mat-error *ngIf="editEmployeeForm.get('id')?.hasError('required')">
                        Username is required.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngFor="let error of editEmployeeForm.get('email')?.errors | keyvalue">
                        {{ errorGroup("email", error.key) }}
                    </mat-error>
                </mat-form-field>

                <div class="mat-form-field">
                    <mat-radio-group aria-label="Choose Group" formControlName="status">
                        <mat-label>Status</mat-label>
                        <mat-radio-button value="Permanent">Permanent</mat-radio-button>
                        <mat-radio-button value="Contract">Contract</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="editEmployeeForm.get('status')?.hasError('required')">
                        Status is required.
                    </mat-error>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Salary</mat-label>
                    <input type="number" matInput formControlName="salary">
                    <mat-error *ngIf="editEmployeeForm.get('salary')?.hasError('required')">
                        Salary is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Group</mat-label>
                    <input
                        placeholder="Pick one Group"
                        matInput
                        formControlName="group"
                        [matAutocomplete]="auto"
                        (keyup)="filterGroup()"
                    >
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let item of filterOptions | async" [value]="item.value">
                            {{item.display}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="editEmployeeForm.get('group')?.hasError('required')">
                        Group is required.
                    </mat-error>
                </mat-form-field>
                
                <div class="default-button-wrapper type-end">
                    <button mat-raised-button color="primary" [disabled]="!editEmployeeForm.valid">Submit</button>
                    <a mat-raised-button color="accent" (click)="closeDialog()">Cancel</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>