<div class="confirmation-delete-wrapper">
    <h1>Are you sure want to delete this data?</h1>
    <div class="default-button-wrapper type-center">
        <button mat-raised-button color="primary" (click)="proceedDeleteEmployee()">Yes</button>
        <button mat-raised-button color="accent" (click)="closeDialog()">Cancel</button>
    </div>
</div>