<div class="login-container">
    <div class="login-banner-wrapper">
        <img class="login-banner" src="/assets/login-banner.webp" alt="login-banner">
    </div>
    <mat-card class="login-form-wrapper">
        <mat-card-header>
            <h1>Login</h1>
        </mat-card-header>
        <mat-card-content>
            <form class="default-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                        Username is required.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        Password is required.
                    </mat-error>
                </mat-form-field>

                <div>
                    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>