.login-container {
    display: flex;
    align-items: center;
    gap: 48px;

    .login-banner-wrapper {
        width: 50%;

        .login-banner {
            object-fit: cover;
            height: 100vh;
            width: 100%;
        }
    }

    .login-form-wrapper {
        width: 40%;
    }
}

@media (max-width: 850px) {
    .login-container {
        flex-direction: column;

        .login-banner-wrapper {
            width: 100%;

            .login-banner {
                height: 40vh;
            }
        }

        .login-form-wrapper {
            width: 90%;
        }
    }
}