html, body {
    height: 100%;
    background: #003A70;
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}

.router-outlet-container-wrapper {
    width: 100%;
    display: block !important;
}

.default-form {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.full-width {
    width: 100% !important;
}

.justify-between {
    justify-content: space-between;
}

.toolbar {
    background-color: #fff !important;
    position: static !important;
    padding: 0 24px;

    .logo {
        object-fit: contain;
        width: 125px;
    }

    a {
        color: #000 !important;
        margin: 0 8px;
    }
}

table {
    padding-bottom: 12px;
}

mat-paginator {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

mat-form-field, .mat-form-field {
    margin-bottom: 16px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.default-content-wrapper {
    padding: 48px 32px 24px 32px;

    &.type-update {
        width: 85% !important;
        margin: auto;
    }
}

.default-button-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    &.type-end {
        justify-content: flex-end;
    }

     &.type-center {
        justify-content: center;
     } 
}

.default-title-section {
    margin-bottom: 24px;
}

@media (max-width: 850px) {
    html, body {
        overflow-x: hidden;
    }

    .router-outlet-container-wrapper {
        width: unset;
    }

    .mat-mdc-paginator-outer-container {
        padding: 16px;

        .mat-mdc-paginator-container {
            flex-direction: column-reverse;
            align-items: start;
        }
    }
}

@media (min-width: 1280px) {
    .default-content-wrapper {
        width: 66.67%;
        margin: auto;
    }
}