.title-section-wrapper {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 25%;
        height: 3px;
        background-color: blue;
    }
}